{% for order in orders %}
    <div id="record">
        <p>
            #{{ order.productId }}
        </p>
        <p>
            Count:
            {{ order.count }}
        </p>
        <p>
            Status:
            {% if order.payment is null %}
                no paid
            {% else %}
                {{ order.payment.status.value }}
            {% endif %}
        </p>
        <p>
            {% if order.payment is not null %}
                {% if order.payment.status.value not in ["refunded", "canceled", "no paid"] %}
                    <a href="{{ path('app_payment_edit', {'id': order.payment.id}) }}">refund</a>
                {% endif %}
                {% if order.payment.status.value == "no paid" %}
                    <a href="{{ path('app_order_paymentredirect', {'id': order.id}) }}">pay</a>
                {% endif %}
            {% else %}
                <a href="{{ path('app_order_paymentredirect', {'id': order.id}) }}">pay</a>
            {% endif %}
        </p>
    </div>
{% else %}
    <div id="no-found-results">
        no records found
    </div>
{% endfor %}