{% for address in addresses %}
    <div id="record">
        <p>
            Country:
            {{ address.country }}
        </p>
        <p>
            City:
            {{ address.city }}
        </p>
        <p>
            House:
            {{ address.house }}
        </p>
        <p>
            Apartment:
            {{ address.apartment }}
        </p>
        <p>
            Post code:
            {{ address.postCode }}
        </p>
        <p id="new-record">
            <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>
        </p>
    </div>
{% else %}
    <div id="no-found-results">
        no records found
    </div>
{% endfor %}