{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="form-content">
        <div id="input-form">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_errors(registrationForm) }}


            {{ form_start(registrationForm) }}
            <h1>Register</h1>

            <div>
                {{ form_row(registrationForm.email) }}
            </div>

            <div>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>

            <div>
                {{ form_row(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn btn-lg btn-primary">Register</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
{% endblock %}
