{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="product-filters">
        {{ include('product/_filter_form.html.twig', {'button_label': 'Search'}) }}
    </div>

    <div class="content">
        {% for product in products %}
            <div id="record">
                <p><a href="{{ path('app_product_show', {id: product.id}) }}">{{ product.name }}</a></p>
                <p>Weight: {{ product.weight }}</p>
                <p>Price: {{ product.price }}</p>
                <p><a href="{{ path('app_product_setformfororder', {name: product.name}) }}">Buy</a></p>
            </div>
        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>
{% endblock %}
