{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Weight</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('app_product_show', {id: product.id}) }}">{{ product.name }}</a></td>
                <td>{{ product.weight }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('app_product_setformfororder', {name: product.name}) }}">Buy</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('product/_filter_form.html.twig', {'button_label': 'Verify'}) }}
{% endblock %}
