{% extends 'base.html.twig' %}

{% block title %}Addresses{% endblock %}

{% block body %}
    <h2>Addresses</h2>

    <div class="record-content">
        {% for address in addresses %}
            <div class="record">
                <p>
                    Country:
                    {{ address.country }}
                </p>
                <p>
                    City:
                    {{ address.city }}
                </p>
                <p>
                    House:
                    {{ address.house }}
                </p>
                <p>
                    Apartment:
                    {{ address.apartment }}
                </p>
                <p>
                    Post code:
                    {{ address.postCode }}
                </p>
                <a href="{{ path('app_address_show', {'id': address.id}) }}">show</a>
                <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>
            </div>
        {% endfor %}

        <a href="{{ path('app_address_new') }}">Create new</a>

    </div>
{% endblock %}
